.result-container {
    display: flex;
    gap: 20px;
  }
  
  .result-content {
    flex: 1;
  }

  .result-summary,
  .result-text-snippet {
    margin-bottom: 20px;
  }
  
  .result-summary h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .result-text-snippet h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
  }